* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.container {
    width: 40vw;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.todo-heading {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #3333337b;
}

.input-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #020000;
    border-radius: 5px;
    font-size: 16px;
    color:aquamarine
}

.add {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;
}

.add:hover {
    background-color: #0056b3;
}

.items {
    margin-top: 20px;
}

.list {
    /* background-color: #f5f5f5; */
    border-radius: 5px;
    padding: 10px;
}

.list ol {
   
    width: 27vw;
    list-style: none;
    padding: 0;
}

.list ol li {
    gap: 5px;
    margin: 5px 0;
    padding: 5px;
    font-size: 16px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list ol li .delete {
    background-color: #50dcff;
    margin-left: 20px;
    color: #020000;
    border: none;
    width: 2vw;
    margin-right: 20px;
    border-radius: 5%;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.list ol li .delete:hover {
    background-color: #ff0000;
    color: white;
}

.fa-trash {
    font-size: 18px;
   
}
.fa-check:hover{
    color: red;
}
.task-details{
    margin: 20px auto;
}
.task-details h3{
    font-size: 15px;
}


@media screen and (max-width: 576px) {
    .container {
        width: 90vw;
        margin: 20px auto;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
    
    .todo-heading {
        text-align: center;
        margin-bottom: 20px;
        font-size: 16px;
        color: #3333337b;
    }
    
    .input-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    
    #input {
        flex: 1;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #020000;
        border-radius: 5px;
        font-size: 16px;
        color:aquamarine
    }
    
    .add {
        padding: 10px 20px;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.2s;
    }
    
    .add:hover {
        background-color: #0056b3;
    }
    
    .items {
        margin-top: 20px;
    }
    
    .list {
        /* background-color: #f5f5f5; */
        border-radius: 5px;
        padding: 10px;
    }
    
    .list ol {
       
        width: 70vw;
        list-style: none;
        padding: 0;
    }
    
    .list ol li {
        gap: 5px;
        margin: 5px 0;
        padding: 5px;
        font-size: 16px;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .list ol li .delete {
        background-color: #50dcff;
        margin-left: 20px;
        color: #020000;
        border: none;
        width: 6vw;
        margin-right: 20px;
        border-radius: 5%;
        padding: 5px;
        cursor: pointer;
        transition: background-color 0.2s;
    }
    
    .list ol li .delete:hover {
        background-color: #ff0000;
        color: white;
    }
    
    .fa-trash {
        font-size: 18px;
       
    }
    .fa-check:hover{
        color: red;
    }
    .task-details{
        text-align: left;
        margin: 20px auto;
    }
    .task-details h3{
        text-align: left;
        margin: 5px;
        font-size: 15px;
    }
    
}